<!DOCTYPE html>
<html>
  <head>
    <title>Cbuacm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik|Ubuntu">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body class="container-fluid">
    <div class="row justify-content-center" style="height: 0px;">
      <div class="d-flex justify-content-center content-width light-gray" style="height: 2325px; z-index: -1;">
      </div>
    </div>

    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
